@model Customer
@{
    string title = "Delete Customer";
    ViewBag.Title = title;
}

<h1>Delete</h1>
<h3>Are you sure you want to delete Customer @Model.Firstname @Model.Lastname</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <input type="hidden" asp-for="Firstname" />
    <input type="hidden" asp-for="Lastname" />
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Customer" asp-action="List" class="btn btn-primary">Cancel</a>
    </div>
</form>