@model Customer
@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;
}

<h2>@ViewBag.Action Customer</h2>

<form asp-action="Edit" method="post">

    <div class="form-group">
        <label asp-for="Firstname" style="width:80px">First Name</label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Lastname" style="width:80px">Last Name</label>
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" style="width:80px">Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" style="width:80px">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Province" style="width:80px">Province/State</label>
        <input asp-for="Province" class="form-control" />
        <span asp-validation-for="Province" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Postalcode" style="width:80px">Postal Code</label>
        <input asp-for="Postalcode" class="form-control" />
        <span asp-validation-for="Postalcode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryId" style="width:80px">Country</label>
        <select asp-for="CountryId" class="form-control">
            <option value="">Select a country...</option>
            @foreach (Country c in ViewBag.Countries)
            {
                <option value="@c.CountryId">@c.Name</option>
            }
        </select>
        <span asp-validation-for="CountryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" style="width:80px">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" style="width:80px">Phone</label>
        <input asp-for="Phone" class="form-control" data-mask="(000) 000-0000" data-mask-selectonfocus="true" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="CustomerId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Customer" asp-action="List" class="btn btn-primary">Cancel</a>

</form>