@{
    ViewData["Title"] = "About Page";
}
<div  style="height: 200px;" class="container bg-secondary d-flex justify-content-center align-content-center">
   <div class="m-auto">
       <h1 class="text-light">About</h1>
       <p class="text-light">SportsPro Technical Support Constantly strives to provide 
       the highest level of technical support for all the products
       in the SportsPro family.</p>
   </div>
</div>